@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
  
}
h1{
  color: aqua;
}
h5{
  color:yellow;
}
h2{
  color: plum;
  text-decoration: underline;
}
button {
  display: inline-block;
  padding: 1rem 2rem;
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  text-decoration: underline;
  display: block;
  margin: 0 auto;
  cursor: pointer;
  
  
}
label{
  color: red;
}
img{
  display: block;
  margin: 0 auto;
  max-width: 100%;
}
h3{
  color:white;
  text-align: center;
  font-size: 35px;
}
@media (min-width: 785px){
  .img{
    width: 50%;
    height: auto;
  }
  .footer{
    color: cadetblue;
    background-color: cadetblue;
    width: 1800%;
    height: 300px;
    
  }
  

}
h6{
  color: black;
  font-size: 20px;
  
}
